<!DOCTYPE html>
<<<<<<< HEAD
<html style="margin:0;height:100%">
=======
<html>
>>>>>>> e91cfe6440f0616f8faf478c84a7c6b9445c8b4a
<head>
	<title>Xchange</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<link href="https://fonts.googleapis.com/css?family=Merriweather:300,400" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="Minor.css">

	<script type="text/javascript" src="Minor.js"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<<<<<<< HEAD
	
</head>

	<!-- Section a -->
<body style="margin:0;height:100%">		
=======
</head>

	<!-- Section a -->
<body>		
>>>>>>> e91cfe6440f0616f8faf478c84a7c6b9445c8b4a
	 <nav class="navbar navbar-default" style="    line-height: 20px;
    background: rgb(20,70,200,0.9);
    margin-bottom: 0">
		<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
<<<<<<< HEAD
      
	   <a href="/products" class="navbar-brand" style="color: aqua"><i class="fab fa-xing-square"></i>change</a>
	  
=======
	   <a href="#" class="navbar-brand"><i class="fab fa-xing-square"></i>change</a>

>>>>>>> e91cfe6440f0616f8faf478c84a7c6b9445c8b4a
		</div>
		<div class="collapse navbar-collapse" id="bs">
		<ul class="nav navbar-nav">
			<li><a href="#"	style="color: white">About</a></a>
			<li><a href="#"	style="color: white">Download app</a></a>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="/register"	style="color: white">Sign Up</a></a>
			<li><a href="/Login"	style="color: white">Login</a></a>
<<<<<<< HEAD
			<% if( session.cart!=null){%>
			<li><a href="shopping-cart"	style="color: white"><i class="fas fa-shopping-cart"></i> Cart <span class="badge"><%= session.cart.totalQty%></span> </a>
			<% } %>
			<% if(session.cart==null) { %>
			<li><a href="shopping-cart"	style="color: white"><i class="fas fa-shopping-cart"></i> Cart </a></li>
			<% } %>
			<li><a href="/logout" style="color: white">Logout</a></li>

		</ul>
		<form class="navbar-form navbar-left" role="search" style="width:30%">
=======
			<li><a href="#"	style="color: white">Cart</a></a>
			<li><a href="/logout" style="color: white">Logout</a></li>

		</ul>
		<form class="navbar-form navbar-left" role="search" style="width:50%">
>>>>>>> e91cfe6440f0616f8faf478c84a7c6b9445c8b4a
  		<div class="form-group" style="width:100%">
    	<input type="text" class="form-control" placeholder="Search the item here" style="width:100%" >
  		</div>
 		<!-- <button type="submit" class="btn btn-default">		Submit</button> -->
		</form>
		</div>
	</div>
		</nav>


<<<<<<< HEAD
=======
<div class="container">

<ul class="nav navbar-nav" style="max-height: 40px ;margin:0 auto">
      <li><a href="£"  style="margin-right: 70px">fashion</a></li>
      <li><a href="#"  style="margin-right: 70px">Electronics and appliances </a></li>
      <li><a href="#"  style="margin-right: 70px">Mosic,Movies and video games</a></li>
      <li><a href="#"  style="margin-right: 70px">Books</a></li>
      <li><a href="#"  style="margin-right: 70px">Global Store.</a></li>
    </ul>

>>>>>>> e91cfe6440f0616f8faf478c84a7c6b9445c8b4a

</div>