<% include partials/header %>


    
<div class="container" ">
<div class="container">
<ul class="nav navbar-nav" style="max-height: 40px ;margin:0 auto">
      <li><a href="/fashion"  style="margin-right: 70px">fashion</a></li>
      <li><a href="/electronics"  style="margin-right: 70px">Electronics and appliances </a></li>
      <li><a href="/games"  style="margin-right: 70px">Mosic,Movies and video games</a></li>
      <li><a href="/books"  style="margin-right: 70px">Books</a></li>
      <li><a href="/global"  style="margin-right: 70px">Global Store.</a></li>
    </ul>
</div>
      

	            <div class="container" >
	                        <h1>Products</h1>
	                    
	                       <div class="row" style="display:flex; flex-wrap: wrap;"> 
	       
	                       
			                <div class="col-lg-3 col-md-3 "	 >
			                <div class="thumbnail">
			                 <a href="#"  style="margin:20px">
							 <img src="https://images-eu.ssl-images-amazon.com/images/I/417NSfZZIWL._AC_US218_FMwebp_QL70_.jpg" class="image-responsive"style="
																  height: 180px;
																  background-size: cover;
																  background-position: center">
						<div class="caption">
							<h3 style="color:black">The Girl in Room 105</h3>
							 <p style="color:#909090">by Chetan Bhagat</p>
						<div class="clearfix">
							<div class="pull-left" style="font-weight:bold;font-size:25px;color:black">20$</div>
							<a href="/#" class="btn btn-success btn-lg pull-right">Add to Cart</a>
						</div>		
				</a>
				</div>
			                </div> 
			              </div>
			                
			              <div class="col-lg-3 col-md-3 "	 >
			                <div class="thumbnail">
			                 <a href="#"  style="margin:20px">
							 <img src="https://images-eu.ssl-images-amazon.com/images/I/51QTTApN-XL._AC_US218_FMwebp_QL70_.jpg" class="image-responsive"style="
																  height: 180px;
																  background-size: cover;
																  background-position: center">
						<div class="caption">
							<h3 style="color:black">The Power of your Subconscious Mind</h3>
							 <p style="color:#909090">by Joseph Murphy</p>
						<div class="clearfix">
							<div class="pull-left" style="font-weight:bold;font-size:25px;color:black">20$</div>
							<a href="/#" class="btn btn-success btn-lg pull-right">Add to Cart</a>
						</div>		
				</a>
				</div>
			                </div> 
			              </div>
			              
			 <div class="col-lg-3 col-md-3 "	 >
			                <div class="thumbnail">
			                 <a href="#"  style="margin:20px">
							 <img src="https://images-eu.ssl-images-amazon.com/images/I/51Y8jwGiebL._AC_US218_FMwebp_QL70_.jpg" class="image-responsive"style="
																  height: 180px;
																  background-size: cover;
																  background-position: center">
						<div class="caption">
							<h3 style="color:black">Think and Grow Rich</h3>
							 <p style="color:#909090">by Napoleon Hill</p>
						<div class="clearfix">
							<div class="pull-left" style="font-weight:bold;font-size:25px;color:black">20$</div>
							<a href="/#" class="btn btn-success btn-lg pull-right">Add to Cart</a>
						</div>		
				</a>
				</div>
			                </div> 
			              </div>
			              
			              <div class="col-lg-3 col-md-3 "	 >
			                <div class="thumbnail">
			                 <a href="#"  style="margin:20px">
							 <img src="https://images-eu.ssl-images-amazon.com/images/I/51r9XYcHP+L._AC_US218_FMwebp_QL70_.jpg" class="image-responsive"style="
																  height: 180px;
																  background-size: cover;
																  background-position: center">
						<div class="caption">
							<h3 style="color:black">The Subtle Art of Not Giving a F*ck</h3>
							 <p style="color:#909090">by Mark Manson</p>
						<div class="clearfix">
							<div class="pull-left" style="font-weight:bold;font-size:25px;color:black">20$</div>
							<a href="/#" class="btn btn-success btn-lg pull-right">Add to Cart</a>
						</div>		
				</a>
				</div>
			                </div> 
			              </div>
			              
			                </div>     
			                
			                
			                
			             <!--secondrow/-->
			                
			                <div class="row" style="display:flex; flex-wrap: wrap;"> 
	       
	                       
			                <div class="col-lg-3 col-md-3 "	 >
			                <div class="thumbnail">
			                 <a href="#"  style="margin:20px">
							 <img src="https://images-eu.ssl-images-amazon.com/images/I/518zZZFEYNL._AC_US218_FMwebp_QL70_.jpg" class="image-responsive"style="
																  height: 180px;
																  background-size: cover;
																  background-position: center">
						<div class="caption">
							<h3 style="color:black">Rich Dad Poor Dad</h3>
							 <p style="color:#909090">by Robert T Kiyosaki</p>
						<div class="clearfix">
							<div class="pull-left" style="font-weight:bold;font-size:25px;color:black">20$</div>
							<a href="/#" class="btn btn-success btn-lg pull-right">Add to Cart</a>
						</div>		
				</a>
				</div>
			                </div> 
			              </div>
			                
			              <div class="col-lg-3 col-md-3 "	 >
			                <div class="thumbnail">
			                 <a href="#"  style="margin:20px">
							 <img src="https://images-eu.ssl-images-amazon.com/images/I/51oHUvYzbsL._SL218_PIsitb-sticker-arrow-dp,TopRight,12,-18_SH30_OU31_AC_US218_FMwebp_QL70_.jpg" class="image-responsive"style="
																  height: 180px;
																  background-size: cover;
																  background-position: center">
						<div class="caption">
							<h3 style="color:black">The Theory of Everything</h3>
							 <p style="color:#909090">By Stephen Hawking</p>
						<div class="clearfix">
							<div class="pull-left" style="font-weight:bold;font-size:25px;color:black">20$</div>
							<a href="/#" class="btn btn-success btn-lg pull-right">Add to Cart</a>
						</div>		
				</a>
				</div>
			                </div> 
			              </div>
			              
			 <div class="col-lg-3 col-md-3 "	 >
			                <div class="thumbnail">
			                 <a href="#"  style="margin:20px">
							 <img src="https://images-eu.ssl-images-amazon.com/images/I/51j3ISgpR6L._SL218_PIsitb-sticker-arrow-dp,TopRight,12,-18_SH30_OU31_AC_US218_FMwebp_QL70_.jpg" class="image-responsive"style="
																  height: 180px;
																  background-size: cover;
																  background-position: center">
						<div class="caption">
							<h3 style="color:black">The Monk Who Sold His Ferrari</h3>
							 <p style="color:#909090">By Robin Sharma</p>
						<div class="clearfix">
							<div class="pull-left" style="font-weight:bold;font-size:25px;color:black">20$</div>
							<a href="/#" class="btn btn-success btn-lg pull-right">Add to Cart</a>
						</div>		
				</a>
				</div>
			                </div> 
			              </div>
			              
			              <div class="col-lg-3 col-md-3 "	 >
			                <div class="thumbnail">
			                 <a href="#"  style="margin:20px">
							 <img src="https://images-eu.ssl-images-amazon.com/images/I/51wbVQTpTgL._SL218_PIsitb-sticker-arrow-dp,TopRight,12,-18_SH30_OU31_AC_US218_FMwebp_QL70_.jpg" class="image-responsive"style="
																  height: 180px;
																  background-size: cover;
																  background-position: center">
						<div class="caption">
							<h3 style="color:black">Wings of Fire </h3>
							 <p style="color:#909090">An Autobiography of Abdul Kalam by Arun Tiwari and A. P. J. Abdul Kalam</p>
																									
						<div class="clearfix">
							<div class="pull-left" style="font-weight:bold;font-size:25px;color:black">20$</div>
							<a href="/#" class="btn btn-success btn-lg pull-right">Add to Cart</a>
						</div>		
				</a>
				</div>
			                </div> 
			              </div>
			              
			                </div>  



			                
			                
			                
			                
			                
			                
			                </div>
			                </div>

 
			              
<% include partials/footer %>