<% include partials/header %>


    
<div class="container" ">
<div class="container">
<ul class="nav navbar-nav" style="max-height: 40px ;margin:0 auto">
      <li><a href="/fashion"  style="margin-right: 70px">fashion</a></li>
      <li><a href="/electronics"  style="margin-right: 70px">Electronics and appliances </a></li>
      <li><a href="/games"  style="margin-right: 70px">Mosic,Movies and video games</a></li>
      <li><a href="/books"  style="margin-right: 70px">Books</a></li>
      <li><a href="/global"  style="margin-right: 70px">Global Store.</a></li>
    </ul>
</div>
      

	            <div class="container" >
	                        <h1>Electronics</h1>
	                    
	                       <div class="row" style="display:flex; flex-wrap: wrap;"> 
	       
	                       
			                <div class="col-lg-3 col-md-3 "	 >
			                <div class="thumbnail">
			                 <a href="#"  style="margin:20px">
							 <img src="https://images-eu.ssl-images-amazon.com/images/I/512uPtWcmGL._AC_US218_FMwebp_QL70_.jpg" class="image-responsive"style="
																  height: 180px;
																  background-size: cover;
																  background-position: center">
						<div class="caption">
							<h3 style="color:black">Kevin TV </h3>
							 <p style="color:#909090">Kevin 61 cm (24 inches) HD Ready LED TV KN24832 (Black) (2018 Model)</p>
						<div class="clearfix">
							<div class="pull-left" style="font-weight:bold;font-size:25px;color:black">220$</div>
							<a href="/#" class="btn btn-success btn-lg pull-right">Add to Cart</a>
						</div>		
				</a>
				</div>
			                </div> 
			              </div>
			                
			              <div class="col-lg-3 col-md-3 "	 >
			                <div class="thumbnail">
			                 <a href="#"  style="margin:20px">
							 <img src="https://images-eu.ssl-images-amazon.com/images/I/51Bef7kX75L._AC_US218_FMwebp_QL70_.jpg" class="image-responsive"style="
																  height: 180px;
																  background-size: cover;
																  background-position: center">
						<div class="caption">
							<h3 style="color:black">Sanyo TV</h3>
							 <p style="color:#909090">Sanyo 107.95 cm (43 inches) Full HD IPS Smart LED TV XT-43S8100FS (Black)</p>
						<div class="clearfix">
							<div class="pull-left" style="font-weight:bold;font-size:25px;color:black">230$</div>
							<a href="/#" class="btn btn-success btn-lg pull-right">Add to Cart</a>
						</div>		
				</a>
				</div>
			                </div> 
			              </div>
			              
			 <div class="col-lg-3 col-md-3 "	 >
			                <div class="thumbnail">
			                 <a href="#"  style="margin:20px">
							 <img src="https://images-eu.ssl-images-amazon.com/images/I/41iZt8tjbeL._AC_US218_FMwebp_QL70_.jpg" class="image-responsive"style="
																  height: 180px;
																  background-size: cover;
																  background-position: center">
						<div class="caption">
							<h3 style="color:black">MI TV</h3>
							 <p style="color:#909090">Mi LED TV 4C PRO 80 cm (32) HD Ready Android TV (Black)</p>
						<div class="clearfix">
							<div class="pull-left" style="font-weight:bold;font-size:25px;color:black">250$</div>
							<a href="/#" class="btn btn-success btn-lg pull-right">Add to Cart</a>
						</div>		
				</a>
				</div>
			                </div> 
			              </div>
			              
			              <div class="col-lg-3 col-md-3 "	 >
			                <div class="thumbnail">
			                 <a href="#"  style="margin:20px">
							 <img src="https://images-eu.ssl-images-amazon.com/images/I/41IpOrG4YCL._AC_US218_FMwebp_QL70_.jpg" class="image-responsive"style="
																  height: 180px;
																  background-size: cover;
																  background-position: center">
						<div class="caption">
							<h3 style="color:black">MI TV</h3>
							 <p style="color:#909090">Mi LED TV 4A PRO 123.2 cm (49) Full HD Android TV (Black)</p>
						<div class="clearfix">
							<div class="pull-left" style="font-weight:bold;font-size:25px;color:black">280$</div>
							<a href="/#" class="btn btn-success btn-lg pull-right">Add to Cart</a>
						</div>		
				</a>
				</div>
			                </div> 
			              </div>
			              
			                </div>     
			                
			                
			                
			             <!--secondrow/-->
			                
			                <div class="row" style="display:flex; flex-wrap: wrap;"> 
	       
	                       
			                <div class="col-lg-3 col-md-3 "	 >
			                <div class="thumbnail">
			                 <a href="#"  style="margin:20px">
							 <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcSPiSYg9Rdw3JvKnL5lYmG-cMumDQtjf46-5VYf_MCITFj7YbkQa8OXj7rSRz6-N2t7danPpG9x8_4&usqp=CAc" class="image-responsive"style="
																  height: 180px;
																  background-size: cover;
																  background-position: center">
						<div class="caption">
							<h3 style="color:black">BPL TV</h3>
							 <p style="color:#909090">BPL 80 cm (32 inches) HD Ready LED TV T32BH3A/BPL080F2000J (Black)</p>
						<div class="clearfix">
							<div class="pull-left" style="font-weight:bold;font-size:25px;color:black">240$</div>
							<a href="/#" class="btn btn-success btn-lg pull-right">Add to Cart</a>
						</div>		
				</a>
				</div>
			                </div> 
			              </div>
			                
			              <div class="col-lg-3 col-md-3 "	 >
			                <div class="thumbnail">
			                 <a href="#"  style="margin:20px">
							 <img src="https://images-eu.ssl-images-amazon.com/images/I/51Ne7YWBTmL._AC_US218_FMwebp_QL70_.jpg" class="image-responsive"style="
																  height: 180px;
																  background-size: cover;
																  background-position: center">
						<div class="caption">
							<h3 style="color:black">Samsung TV</h3>
							 <p style="color:#909090">Samsung 24K4100 59 cm (24 inches) HD Ready LED TV (Black)</p>
						<div class="clearfix">
							<div class="pull-left" style="font-weight:bold;font-size:25px;color:black">300$</div>
							<a href="/#" class="btn btn-success btn-lg pull-right">Add to Cart</a>
						</div>		
				</a>
				</div>
			                </div> 
			              </div>
			              
			 <div class="col-lg-3 col-md-3 "	 >
			                <div class="thumbnail">
			                 <a href="#"  style="margin:20px">
							 <img src="https://images-eu.ssl-images-amazon.com/images/I/51SfR4pA2HL._AC_US218_FMwebp_QL70_.jpg" class="image-responsive"style="
																  height: 180px;
																  background-size: cover;
																  background-position: center">
						<div class="caption">
							<h3 style="color:black">Panasonic TV</h3>
							 <p style="color:#909090">Panasonic 80 cm (32 inches) HD Ready LED TV TH- 32F204DX (Black) (2018 Model)</p>
						<div class="clearfix">
							<div class="pull-left" style="font-weight:bold;font-size:25px;color:black">310$</div>
							<a href="/#" class="btn btn-success btn-lg pull-right">Add to Cart</a>
						</div>		
				</a>
				</div>
			                </div> 
			              </div>
			              
			              <div class="col-lg-3 col-md-3 "	 >
			                <div class="thumbnail">
			                 <a href="#"  style="margin:20px">
							 <img src="https://images-eu.ssl-images-amazon.com/images/I/51UzWs0iXUL._AC_US218_FMwebp_QL70_.jpg" class="image-responsive"style="
																  height: 180px;
																  background-size: cover;
																  background-position: center">
						<div class="caption">
							<h3 style="color:black">Sony TV</h3>
							 <p style="color:#909090">Sony 80 cm (32 inches) HD Ready LED TV KLV-32R202F (Black) (2018 model)</p>
						<div class="clearfix">
							<div class="pull-left" style="font-weight:bold;font-size:25px;color:black">320$</div>
							<a href="/#" class="btn btn-success btn-lg pull-right">Add to Cart</a>
						</div>		
				</a>
				</div>
			                </div> 
			              </div>
			              
			                </div>  



			                
			                
			                
			                
			                
			                
			                </div>
			                </div>

 
			              
<% include partials/footer %>