<% include partials/header %>


    
<div class="container" ">
<div class="container">
<ul class="nav navbar-nav" style="max-height: 40px ;margin:0 auto">
      <li><a href="/fashion"  style="margin-right: 70px">fashion</a></li>
      <li><a href="/electronics"  style="margin-right: 70px">Electronics and appliances </a></li>
      <li><a href="/games"  style="margin-right: 70px">Mosic,Movies and video games</a></li>
      <li><a href="/books"  style="margin-right: 70px">Books</a></li>
      <li><a href="/global"  style="margin-right: 70px">Global Store.</a></li>
    </ul>
</div>
      

	            <div class="container" >
	                        <h1>Fashion</h1>
	                    
	                       <div class="row" style="display:flex; flex-wrap: wrap;"> 
	       
	                       
			                <div class="col-lg-3 col-md-3 "	 >
			                <div class="thumbnail">
			                 <a href="#"  style="margin:20px">
							 <img src="https://images-eu.ssl-images-amazon.com/images/I/41nBpGDsdxL._AC_UL260_SR200,260_FMwebp_QL70_.jpg" class="image-responsive"style="
																  height: 180px;
																  background-size: cover;
																  background-position: center">
						<div class="caption">
							<h3 style="color:black">Fort Collins Men's Jacket</h3>
							 
						<div class="clearfix">
							<div class="pull-left" style="font-weight:bold;font-size:25px;color:black">10$</div>
							<a href="/#" class="btn btn-success btn-lg pull-right">Add to Cart</a>
						</div>		
				</a>
				</div>
			                </div> 
			              </div>
			                
			              <div class="col-lg-3 col-md-3 "	 >
			                <div class="thumbnail">
			                 <a href="#"  style="margin:20px">
							 <img src="https://images-eu.ssl-images-amazon.com/images/I/414rtV23UUL._AC_UL260_SR200,260_FMwebp_QL70_.jpg" class="image-responsive"style="
																  height: 180px;
																  background-size: cover;
																  background-position: center">
						<div class="caption">
							<h3 style="color:black">Fort Collins Men's Jacket</h3>
							
						<div class="clearfix">
							<div class="pull-left" style="font-weight:bold;font-size:25px;color:black">20$</div>
							<a href="/#" class="btn btn-success btn-lg pull-right">Add to Cart</a>
						</div>		
				</a>
				</div>
			                </div> 
			              </div>
			              
			 <div class="col-lg-3 col-md-3 "	 >
			                <div class="thumbnail">
			                 <a href="#"  style="margin:20px">
							 <img src="https://images-eu.ssl-images-amazon.com/images/I/41WcLEbwOBL._AC_UL260_SR200,260_FMwebp_QL70_.jpg" class="image-responsive"style="
																  height: 180px;
																  background-size: cover;
																  background-position: center">
						<div class="caption">
							<h3 style="color:black">Amazon Brand - Symbol Men's Sweatshirt</h3>
							 
						<div class="clearfix">
							<div class="pull-left" style="font-weight:bold;font-size:25px;color:black">20$</div>
							<a href="/#" class="btn btn-success btn-lg pull-right">Add to Cart</a>
						</div>		
				</a>
				</div>
			                </div> 
			              </div>
			              
			              <div class="col-lg-3 col-md-3 "	 >
			                <div class="thumbnail">
			                 <a href="#"  style="margin:20px">
							 <img src="https://images-eu.ssl-images-amazon.com/images/I/41gaLtly20L._AC_UL260_SR200,260_FMwebp_QL70_.jpg" class="image-responsive"style="
																  height: 180px;
																  background-size: cover;
																  background-position: center">
						<div class="caption">
							<h3 style="color:black">Fort Collins Men's Jacket</h3>
						
						<div class="clearfix">
							<div class="pull-left" style="font-weight:bold;font-size:25px;color:black">20$</div>
							<a href="/#" class="btn btn-success btn-lg pull-right">Add to Cart</a>
						</div>		
				</a>
				</div>
			                </div> 
			              </div>
			              
			                </div>     
			                
			                
			                
			             <!--secondrow/-->
			                
			                <div class="row" style="display:flex; flex-wrap: wrap;"> 
	       
	                       
			                <div class="col-lg-3 col-md-3 "	 >
			                <div class="thumbnail">
			                 <a href="#"  style="margin:20px">
							 <img src="https://images-eu.ssl-images-amazon.com/images/I/41+nWhwDvRL._AC_UL260_SR200,260_FMwebp_QL70_.jpg" class="image-responsive"style="
																  height: 180px;
																  background-size: cover;
																  background-position: center">
						<div class="caption">
							<h3 style="color:black">Allen Solly Men's Jacket</h3>
							
						<div class="clearfix">
							<div class="pull-left" style="font-weight:bold;font-size:25px;color:black">20$</div>
							<a href="/#" class="btn btn-success btn-lg pull-right">Add to Cart</a>
						</div>		
				</a>
				</div>
			                </div> 
			              </div>
			                
			              <div class="col-lg-3 col-md-3 "	 >
			                <div class="thumbnail">
			                 <a href="#"  style="margin:20px">
							 <img src="https://images-eu.ssl-images-amazon.com/images/I/31s5jDkS1XL._AC_UL260_SR200,260_FMwebp_QL70_.jpg" class="image-responsive"style="
																  height: 180px;
																  background-size: cover;
																  background-position: center">
						<div class="caption">
							<h3 style="color:black">Red Tape Men's Sweater</h3>
						
						<div class="clearfix">
							<div class="pull-left" style="font-weight:bold;font-size:25px;color:black">20$</div>
							<a href="/#" class="btn btn-success btn-lg pull-right">Add to Cart</a>
						</div>		
				</a>
				</div>
			                </div> 
			              </div>
			              
			 <div class="col-lg-3 col-md-3 "	 >
			                <div class="thumbnail">
			                 <a href="#"  style="margin:20px">
							 <img src="https://images-eu.ssl-images-amazon.com/images/I/41lY5OgVvRL._AC_UL260_SR200,260_FMwebp_QL70_.jpg" class="image-responsive"style="
																  height: 180px;
																  background-size: cover;
																  background-position: center">
						<div class="caption">
							<h3 style="color:black">Qube By Fort Collins Men's Quilted Jacket</h3>

						<div class="clearfix">
							<div class="pull-left" style="font-weight:bold;font-size:25px;color:black">20$</div>
							<a href="/#" class="btn btn-success btn-lg pull-right">Add to Cart</a>
						</div>		
				</a>
				</div>
			                </div> 
			              </div>
			              
			              <div class="col-lg-3 col-md-3 "	 >
			                <div class="thumbnail">
			                 <a href="#"  style="margin:20px">
							 <img src="https://images-eu.ssl-images-amazon.com/images/I/41opuiXEyKL._AC_UL260_SR200,260_FMwebp_QL70_.jpg" class="image-responsive"style="
																  height: 180px;
																  background-size: cover;
																  background-position: center">
						<div class="caption">
							<h3 style="color:black">Fort Collins Men's Jacket</h3>
							 
						<div class="clearfix">
							<div class="pull-left" style="font-weight:bold;font-size:25px;color:black">20$</div>
							<a href="/#" class="btn btn-success btn-lg pull-right">Add to Cart</a>
						</div>		
				</a>
				</div>
			                </div> 
			              </div>
			              
			                </div>  



			                
			                
			                
			                
			                
			                
			                </div>
			                </div>

 
			              
<% include partials/footer %>