<% include partials/header %>


    
<div class="container" ">
<div class="container">
<ul class="nav navbar-nav" style="max-height: 40px ;margin:0 auto">
      <li><a href="/fashion"  style="margin-right: 70px">fashion</a></li>
      <li><a href="/electronics"  style="margin-right: 70px">Electronics and appliances </a></li>
      <li><a href="/games"  style="margin-right: 70px">Mosic,Movies and video games</a></li>
      <li><a href="/books"  style="margin-right: 70px">Books</a></li>
      <li><a href="/global"  style="margin-right: 70px">Global Store.</a></li>
    </ul>
</div>
      

	            <div class="container" >
	                        <h1>Music,Movies and Games</h1>
	                    
	                       <div class="row" style="display:flex; flex-wrap: wrap;"> 
	       
	                       
			                <div class="col-lg-3 col-md-3 "	 >
			                <div class="thumbnail">
			                 <a href="#"  style="margin:20px">
							 <img src="https://images-eu.ssl-images-amazon.com/images/I/51ndxZcdt+L._AC_US218_.jpg" class="image-responsive"style="
																  height: 180px;
																  background-size: cover;
																  background-position: center">
						<div class="caption">
							<h3 style="color:black">Marvel's Spider Man (PS4)</h3>
							 <p style="color:#909090">by Sony</p>
						<div class="clearfix">
							<div class="pull-left" style="font-weight:bold;font-size:25px;color:black">34$</div>
							<a href="/#" class="btn btn-success btn-lg pull-right">Add to Cart</a>
						</div>		
				</a>
				</div>
			                </div> 
			              </div>
			                
			              <div class="col-lg-3 col-md-3 "	 >
			                <div class="thumbnail">
			                 <a href="#"  style="margin:20px">
							 <img src="https://images-eu.ssl-images-amazon.com/images/I/514jkQM1AzL._AC_US218_.jpg" class="image-responsive"style="
																  height: 180px;
																  background-size: cover;
																  background-position: center">
						<div class="caption">
							<h3 style="color:black">God of War - Standard Edition (PS4)</h3>
							 <p style="color:#909090">by null</p>
						<div class="clearfix">
							<div class="pull-left" style="font-weight:bold;font-size:25px;color:black">20$</div>
							<a href="/#" class="btn btn-success btn-lg pull-right">Add to Cart</a>
						</div>		
				</a>
				</div>
			                </div> 
			              </div>
			              
			 <div class="col-lg-3 col-md-3 "	 >
			                <div class="thumbnail">
			                 <a href="#"  style="margin:20px">
							 <img src="https://images-eu.ssl-images-amazon.com/images/I/51K32x3YM0L._AC_US218_.jpg" class="image-responsive"style="
																  height: 180px;
																  background-size: cover;
																  background-position: center">
						<div class="caption">
							<h3 style="color:black">Fifa 19 (PS4)</h3>
							 <p style="color:#909090">by Electronic Arts</p>
						<div class="clearfix">
							<div class="pull-left" style="font-weight:bold;font-size:25px;color:black">25$</div>
							<a href="/#" class="btn btn-success btn-lg pull-right">Add to Cart</a>
						</div>		
				</a>
				</div>
			                </div> 
			              </div>
			              
			              <div class="col-lg-3 col-md-3 "	 >
			                <div class="thumbnail">
			                 <a href="#"  style="margin:20px">
							 <img src="https://images-eu.ssl-images-amazon.com/images/I/51xDl3CQB1L._AC_US218_.jpg" class="image-responsive"style="
																  height: 180px;
																  background-size: cover;
																  background-position: center">
						<div class="caption">
							<h3 style="color:black">Red Dead Redemption - 2 (PS4)</h3>
							 <p style="color:#909090">by Rockstar Games</p>
						<div class="clearfix">
							<div class="pull-left" style="font-weight:bold;font-size:25px;color:black">20$</div>
							<a href="/#" class="btn btn-success btn-lg pull-right">Add to Cart</a>
						</div>		
				</a>
				</div>
			                </div> 
			              </div>
			              
			                </div>     
			                
			                
			                
			             <!--secondrow/-->
			                
			                <div class="row" style="display:flex; flex-wrap: wrap;"> 
	       
	                       
			                <div class="col-lg-3 col-md-3 "	 >
			                <div class="thumbnail">
			                 <a href="#"  style="margin:20px">
							 <img src="https://images-eu.ssl-images-amazon.com/images/I/61nHCCxrVfL._AC_US218_.jpg" class="image-responsive"style="
																  height: 180px;
																  background-size: cover;
																  background-position: center">
						<div class="caption">
							<h3 style="color:black">Grand Theft Auto V (PS4)</h3>
							 <p style="color:#909090">by Rockstar Games</p>
						<div class="clearfix">
							<div class="pull-left" style="font-weight:bold;font-size:25px;color:black">20$</div>
							<a href="/#" class="btn btn-success btn-lg pull-right">Add to Cart</a>
						</div>		
				</a>
				</div>
			                </div> 
			              </div>
			                
			              <div class="col-lg-3 col-md-3 "	 >
			                <div class="thumbnail">
			                 <a href="#"  style="margin:20px">
							 <img src="https://images-eu.ssl-images-amazon.com/images/I/51IRAPBuCZL._AC_US218_.jpg" class="image-responsive"style="
																  height: 180px;
																  background-size: cover;
																  background-position: center">
						<div class="caption">
							<h3 style="color:black">Call of Duty: Infinite Warfare (PS4)</h3>
							 <p style="color:#909090">by ACTIVISION</p>
						<div class="clearfix">
							<div class="pull-left" style="font-weight:bold;font-size:25px;color:black">20$</div>
							<a href="/#" class="btn btn-success btn-lg pull-right">Add to Cart</a>
						</div>		
				</a>
				</div>
			                </div> 
			              </div>
			              
			 <div class="col-lg-3 col-md-3 "	 >
			                <div class="thumbnail">
			                 <a href="#"  style="margin:20px">
							 <img src="https://images-eu.ssl-images-amazon.com/images/I/51GGLGKAWsL._AC_US218_.jpg" class="image-responsive"style="
																  height: 180px;
																  background-size: cover;
																  background-position: center">
						<div class="caption">
							<h3 style="color:black">Uncharted: The Lost Legacy (PS4)</h3>
							 <p style="color:#909090">by Sony</p>
						<div class="clearfix">
							<div class="pull-left" style="font-weight:bold;font-size:25px;color:black">20$</div>
							<a href="/#" class="btn btn-success btn-lg pull-right">Add to Cart</a>
						</div>		
				</a>
				</div>
			                </div> 
			              </div>
			              
			              <div class="col-lg-3 col-md-3 "	 >
			                <div class="thumbnail">
			                 <a href="#"  style="margin:20px">
							 <img src="https://images-eu.ssl-images-amazon.com/images/I/51dP2GvpzbL._AC_US218_.jpg" class="image-responsive"style="
																  height: 180px;
																  background-size: cover;
																  background-position: center">
						<div class="caption">
							<h3 style="color:black">Assassins Creed: Odyssey (PS4)</h3>
							 <p style="color:#909090">by UBI Soft</p>
						<div class="clearfix">
							<div class="pull-left" style="font-weight:bold;font-size:25px;color:black">20$</div>
							<a href="/#" class="btn btn-success btn-lg pull-right">Add to Cart</a>
						</div>		
				</a>
				</div>
			                </div> 
			              </div>
			              
			                </div>  



			                
			                
			                
			                
			                
			                
			                </div>
			                </div>

 
			              
<% include partials/footer %>