<% partials/header %> 
<form action="/login" method="POST">
	<label>
	    Username:
		<input type="text" name="username" placeholder="username">
	</label>
	<label>
	    Password:
		<input type="password" name="password" placeholder="password">
	</label>
	<button>Submit</button>
</form>
<button><a href="/logout">logout</a></button>



