<h1>SIgn Up Form</h1>
<form action="/register" method="POST">
	<label>
	    Username:
		<input type="text" name="username" placeholder="username">
	</label>
	<label>
	    Password:
		<input type="password" name="password" placeholder="password">
	</label>
	<button>Submit</button>
</form>