<% include partials/header %>
<div class="container">
<h1><%=product.title%></h1>
 <img src="<%= product.img %>" ;
																  height: 200px;
																  background-size: cover;
																  background-position: center">
							<h3><%= product.title %></h3>
							 <p><%= product.desp %></p>
	</div>						 
							 
<% include partials/footer %>